<app-card class="transaction-page__transaction">
  <app-card-header>
    <i class="lni lni-credit-cards"></i>
    <b>Make</b> Transfer
  </app-card-header>
  <form class="form-group" [formGroup]="form" (submit)="makeTransferRequest()">
    <label for="from-account">From Account</label>
    <div class="input-group mb-3">
      <input
        disabled
        type="text"
        class="form-control"
        name="from"
        [value]="currentAccountMessage$ | async"
        aria-label="From Account"
      />
    </div>
    <label for="to-account">To Account</label>
    <div class="input-group mb-3">
      <input
        formControlName="to"
        type="text"
        class="form-control"
        name="to"
        placeholder="type an account name"
        aria-label="To Account"
      />
      <span class="form-field-error"> This field is required </span>
    </div>
    <label for="amount">Amount</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="currency-symbol">{{
          currency$$ | async
        }}</span>
      </div>
      <input
        formControlName="amount"
        type="number"
        class="form-control"
        name="amount"
        min="0"
        placeholder="specify the amount"
        aria-label="Transfer Amount"
        aria-describedby="currency-symbol"
      />
      <span class="form-field-error">
        <ng-container *ngIf="form.controls.amount.errors as errors">
          <div *ngIf="errors.balanceReduction">
            There is not enough balance to make this transfer
          </div>
          <div *ngIf="!errors.balanceReduction">
            Please enter a valid amount
          </div>
        </ng-container>
      </span>
    </div>
    <app-card-actions>
      <app-submit-button></app-submit-button>
    </app-card-actions>
  </form>
</app-card>
