@import "../../styles/colours";
@import "../../../vendor/bb-ui/styles/vars";
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__background {
    $blur: 2px;
    background: url("../../../assets/background.jpg");
    background-size: cover;
    bottom: 0;
    filter: blur($blur);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__header {
    align-items: center;
    background-color: $white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex: none;
    height: 60px;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 $large-spacing;
    color: $primary-blue;
  }

  &__content {
    flex: 100%;
    padding-top: 50px;
    padding: 50px 10% 0;
    overflow: auto;
  }

  &__title-link {
    &:visited {
      color: $primary-blue;
    }
  }

  &__footer {
    flex: none;
    background-color: $white;
    flex: 50px;
  }
}
