<div class="page-wrapper">
  <div class="page-wrapper__background"></div>
  <header class="page-wrapper__header">
    <app-logo></app-logo>
    <div class="page-wrapper__title">
      Frontend
      <b
        ><a
          class="page-wrapper__title-link"
          href="https://media.giphy.com/media/3W0vjXgLj4rg4/giphy.mp4"
          target="_blank"
          >Techno</a
        ></b
      >
      Assignment
    </div>
  </header>
  <section class="page-wrapper__content">
    <ng-content></ng-content>
  </section>
  <app-footer class="page-wrapper__footer"></app-footer>
</div>
