@import "src/vendor/bb-ui/styles/vars";
.transaction-page {
  display: flex;
  &__transaction {
    flex: 1;
    min-width: 350px;
  }
  &__transaction-list {
    flex: 2;
    margin-left: $large-spacing;
  }
}
