/* You can add global styles to this file, and also import other style files */
@import "./vendor/bb-ui/styles/vars";
@import "bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}
.form-group {
  label {
    margin-bottom: $medium-spacing;
  }
}
$primary-color: #ec7031;
.btn-primary {
  @include button-variant(
    $primary-color,
    darken($primary-color, 7.5%),
    darken($primary-color, 10%),
    lighten($primary-color, 5%),
    lighten($primary-color, 10%),
    darken($primary-color, 30%)
  );
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.form-field-error {
  color: $red;
  display: none;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
}

.ng-touched.ng-invalid + .form-field-error {
  display: block;
}

input::placeholder {
  font-style: italic;
  font-size: 14px;
}
